.bg01
  background-color: #fff

.bg02
  background-color: #DEFAFF

.bg03
  background-color: #DEFAFF

.bg04
  background-color: #F4F4F4

.bg05
  background-color: #FDE9E0

.bg06
  background-color: #8EE5F6

.bg07
  background-color: #F18385
  
.bg08
  background-color: #F6F6F6

.bg09
  background-color:#483C8C
  
//-tamaño imagenes

.img10
  max-width: 10px 
.img30
  max-width: 30px
.img35
  max-width: 35px
.img40
  max-width: 40px 
.img45
  max-width: 45px
.img60
  max-width: 60px
.img75
  max-width: 75px 
.img80
  max-width: 80px
.img85
  max-width: 85px
.img90
  max-width: 90px
.img95
  max-width: 95px
.img100
  max-width: 100px
.img110
  max-width: 110px
.img120
  max-width: 120px
.img200
  max-width: 200px

.flex-end
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;

.imagen-adornos-flotantes
  position: relative
  &__img
    img
      position: absolute
      z-index: 99
      animation: float 3s ease-in-out infinite alternate

.bg-header
  background-image: url("../assets/curso/tema1/img05.png")
  background-repeat: no-repeat;
  background-size: cover

.contenedor-especial
  background-image: url("../assets/curso/tema1/img05.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  
.contenedor-especial2
  background-image: url("../assets/curso/tema1/img07.png")
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: top 100px

.BGIMG01
  background-image: url("../assets/curso/tema1/img15.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center  

.BGIMG02
  background-image: url("../assets/curso/tema2/img02.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center  

.BGIMG03
  background-color: #F18385
  border-radius: 120px
  width: 60px 
  

.text-inferior
  width: 100%;
  height: 300px;
  display: flex;
  align-items: end

.contenedor--texto-left
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 5%
    bottom: 78%
    left: 0
    right: 12%
    background-color: #F18385

.cajon.color-primario
  background-color: #DEFAFF

.cajon.color-acento-contenido
  background-color: #FDE9E0

.img01
  position: relative 
  top: 0px
  max-width: 200px
  
.img02
  position: relative 
  top: -145px

.etiqueta
  background-color: #F18385
  color: black
  
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #F18385

.tabs-b__tab--active
  background-color: #FDE9E0

.cajon-b.color-primario:before
  background-color: #DEFAFF

.cajon-b.color-acento-contenido:before
  background-color: #FDE9E0

.tabla-c td
  width: 35%

.position01
  position: relative
  bottom: -30%

.position02
  position: relative
  bottom: -5%