.bg01
  background-color: #fff

.bg02
  background-color: #DEFAFF

.bg03
  background-color: #DEFAFF

.bg04
  background-color: #F4F4F4

.bg05
  background-color: #FDE9E0

.bg06
  background-color: #8EE5F6

.bg07
  background-color: #F18385
  
.bg08
  background-color: #F6F6F6

.bg09
  background-color:#483C8C

  
//-tamaño imagenes

.img10
  max-width: 10px 
.img30
  max-width: 30px
.img35
  max-width: 35px
.img40
  max-width: 40px 
.img45
  max-width: 45px
.img60
  max-width: 60px
.img75
  max-width: 75px 
.img80
  max-width: 80px
.img85
  max-width: 85px
.img90
  max-width: 90px
.img95
  max-width: 95px
.img100
  max-width: 100px
.img110
  max-width: 110px
.img120
  max-width: 120px
.img200
  max-width: 200px
.img250
  max-width: 250px
.img295
  max-width: 295px
.img300
  max-width: 300px
.img500
  max-width: 500px

.img-especial
  margin-top: -50px;

.h-305
  height: 305px;

.h-568
  height: 568px;

.h-635
  height: 635px;

.flex-end
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;

.imagen-adornos-flotantes
  position: relative
  &__img
    img
      position: absolute
      z-index: 99
      animation: float 3s ease-in-out infinite alternate

.flex-container
  display: flex;
  /* flex-direction: row */
  flex-wrap: wrap; 
  /* justify-content: center; */
  /* align-items: flex-end; */
  /* align-items: flex-start; */

.align-self-start
  align-self: flex-start;

.bg-header
  background-image: url("../assets/curso/tema1/img29.svg");
  /* width: 77.43em; */
  /* height: 16.94em; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

.tamano-tar
  width: 1239px;
  height: 506px;


.navar
  display: flex;
  flex-direction: row;
  align-items: end;

.img-agente-biologico
  background-image: url("../assets/curso/tema1/img22.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 568px;
  width: 100%; 

.contenedor-especial
  background-image: url("../assets/curso/tema1/img05.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  
.contenedor-especial2
  background-image: url("../assets/curso/tema1/img07.png")
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: top 100px

.BGIMG01
  background-image: url("../assets/curso/tema1/img15.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center  

.BGIMG02
  background-image: url("../assets/curso/tema2/img02.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center  

.BGIMG03
  background-color: #F18385
  border-radius: 120px
  width: 60px 
  
.BGIMG04
  background-color: #FFFF
  border-radius: 60px
  width: 25px 

.text-inferior
  width: 100%;
  height: 300px;
  display: flex;
  align-items: end

.contenedor--texto-left
  position: relative
  *
    position: relative
  &::before
    position: absolute
    content: ''
    top: 5%
    bottom: 78%
    left: 0
    right: 12%
    background-color: #F18385

.cajon.color-primario
  background-color: #DEFAFF

.cajon.color-acento-contenido
  background-color: #FDE9E0

.img01
  position: relative 
  top: 0px
  max-width: 200px
  
.img02
  position: relative 
  top: -145px

.etiqueta
  background-color: #F18385
  color: black
  
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #F18385

.tabs-b__tab--active
  background-color: #FDE9E0

.cajon-b.color-primario:before
  background-color: #DEFAFF

.cajon-b.color-acento-contenido:before
  background-color: #FDE9E0

.tabla-c td
  width: 35%


.position01
  position: relative
  bottom: -30%

.position02
  position: absolute
  bottom: -3%
  top: -35px
  max-width: 200px

.flex-end
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;